div.child {
	margin:0 auto;
	width:50%;
	padding-top: 100px;
	height:1000px;
}
div.wrapper {
	background-image: url(../images/1.jpg);
}
h1 {
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
}
 li {
	text-align: center;
	font-size: 17pt;
	color: black;
	font-weight: bold;
}
a {
	display: inline-block;
	padding: 10px 60px;
	color: black;
	border: 2px ridge black;
	border-radius: 5px;
	margin: 15px 0 0 0;
	text-decoration: none;
}
a:hover {
	background: #FF6347;
}