div.wrapper {width: 70%;
	display: block;
	margin: 0 auto;
	
	}
.tab{display: block;
	 margin: 0 auto;
	 width: 70%;
	 }	
.mar {margin-top: 20px;
	 margin-bottom: 20px;
	 }
body {
	background-image: url(../images/1.jpg)
}
table {
	border: 2px solid #B22222;
	font-size: 17px;
}