div.child {
	width: 70%;
	margin: 0 auto;
}
.tab{
	display: block;
	margin: 0 auto;
	width: 70%;
}	
.mar {
	margin-top: 20px;
	margin-bottom: 20px;
}
div.wrapper{
	background-image: url(../images/1.jpg);
}
table {
	width:100%;
	border: 2px solid #B22222;
	font-size: 17px;
	border-spacing: 2px;
	
}
tr td, tr th{
	border: 2px solid #B22222;
	padding: 5px;
}