.p2 {
    font-style:italic;
    font-weight:normal;
}
span.line {
     text-decoration:underline;
}
p.animal {
	text-align:center;
}
 .leftimg {
    float:left;
    margin: 7px 7px 7px 0;
 }
.position {
    text-align:center;
}
.right {
	text-align:right;
}
div.wrapper {
	background-image: url(../images/1.jpg);
}
div.child {
	width:60%;
	margin: 0 auto;
}
span.bold {
	font-weight: bolder;
}
span.italic {
	font-style: italic;
}