body {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #555555;
}
.bold {
	font-weight: bolder;
}
a {
	text-decoration: none;
	color: #000000;
}
.black {
	color: black;
}
.first_word {
	color: #888888;
}
.block {
	display: block;
}
img {
	max-width: 100%;
}
/*------------------------------------wrapper-------------------------------------*/
.wrapper {
	background: #ffffff;
	width: 1040px;
	margin: 0 auto;
}

/*------------------------------------header-------------------------------------*/
.header {
	padding: 26px;
	padding-bottom: 10px;
	font-size: 18px;
	font-family: 'versasanscon-semibold', serif;
}
/*------------------------------------main-------------------------------------*/
.main {
	background: #f4f4f4;
	padding: 20px;
	overflow: hidden;
}
/*------------------------------------menu-------------------------------------*/
.menu {
	float: left;
	width: 13.5%;
}
.sun, .new{
	width: 100%;
}
.descriptions, p, .blog span{
	line-height: 1.5;
}
.descriptions p {
	margin-bottom: 11px;
}
.categories ul li, .pages ul li {
	background: #e8e8e8;
	margin-bottom: 1px;
	margin-top: 1px;
	padding: 7px;
}
.li_right {
	float: right;
}
h3 {
	margin-top: 20px;
	margin-bottom: 5px;
}
input {
	width: 100%;
    box-sizing: border-box;
}
/*------------------------------------blog-------------------------------------*/
h1 {
	font-size: 23px;
	margin-top: 9px;
	margin-bottom: 16px;
}
.blog {
	float: left;
	padding: 0 20px;
	width: 48.03%;
}
.post {
	width: 240px;
	height: auto;
	float: right;
	margin-left: 30px;
}
.pagination ul li, .blog ul li {
	display: inline;
}
.pagination ul li a {
	padding: 5px 7px;
}
.active {
	background: #555555;
	padding: 5px 0px;
	margin-left: 5px;
}
.pagination ul li a:hover {
	background: #555555;
}
.pagination {
	margin-bottom: 40px;
	margin-top: 40px;
}
.under_post {
	margin-top: 30px;
	margin-bottom: 30px;
}
.posts ul li .block {
	clear: both;
	padding-top: 20px;
}
.line {
	line-height: 1;
}
.posts ul li h2 {
	margin-bottom: 15px;
	font-size: 15px;
	margin-top: 3px;
}
.margin  {
	margin-bottom: 60px;
}
/*------------------------------------sidebar-------------------------------------*/
.sidebar {
	float: left;
	width: 28.85%;	
}
.twitter {
	float: left;
	filter: none;
	-webkit-filter: grayscale(.8);	
}
.social ul  li {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	margin-top: 7px;
}
.ban {
	height: auto;
	width: 100%;
}
.first {
	float: left;
	width: 50%;
}
.second {
	float: right;
	width: 40%;
}
/*------------------------------------footer-------------------------------------*/
.footer {
	clear: both;
	padding: 20px; 
}